venv/
.env
__pycache__/
.idea/
.vscode/
*.pyc
*.csv
*.json
venv/
.env
__pycache__/
.idea/
.vscode/
*.pyc
*.csv
*.json
*.xlsx
runs/
test/
train/
val/
img/
__pycache__/
ml_models/*.pt
*.bin
*.safetensors
checkpoints/
ml_models/sentiment_model/
